<h2>Survey Results</h2>

<h2><%= survey.title %></h2>
<p>
  by a <%= survey.author.displayName %> - 
  <%= survey.createdAt.toDateString().slice(3) %>
</p>

<% if (locals.user !== null && survey.author.id === locals.user.id) { %>
  <a href="/surveys/<%= survey.id %>/edit">Edit</a>
<% } %>

<% const totalVotes = survey.answers.reduce((total, currentValue) => { %>
  <% return total + currentValue.votes %>
<% }, 0) %>

<% if (totalVotes > 0) { %> 
  <div id="chartContainer" style="width: 500px; height: 300px;"></div>

  <% survey.answers.forEach((answer) => { %>
    <div>
      <label><%= answer.name %> - <%= ((answer.votes * 100)/totalVotes).toFixed(1) %> %</label>
      <progress value="<%= (answer.votes * 100)/100 %>" max="<%= totalVotes %>"></progress>
    </div>
  <% }) %>

  <h2>Total Votes: <%= totalVotes %></h2>
  <a href="/surveys/<%= survey.id %>/vote">Vote</a>
<% } else { %>
  <h2>There are no votes in this survey yet.</h2>
  <a href="/surveys/<%= survey.id %>/vote">Vote</a>
<% } %>

<script src="https://cdnjs.cloudflare.com/ajax/libs/canvasjs/1.7.0/canvasjs.min.js"></script>
<script>
  const survey = <%- JSON.stringify(survey) %>
</script>
<script src="/scripts/displayCharts.js"></script>
