<h2><%= survey.title %></h2>
<p>
  by a <%= survey.author.displayName %> - <%=
  survey.createdAt.toDateString().slice(3) %>
</p>

<% if (locals.user !== null && survey.author.id === locals.user.id) { %>
<a href="/surveys/<%= survey.id %>/edit">Edit</a>
<% } %>


<form action="/surveys/<%= survey.id %>/vote?_method=PUT" method="POST">
  <% survey.answers.forEach((answer, answerIndex) => { %>
  <div>
    <input
      type="radio"
      name="answer"
      id="answer<%= answerIndex + 1 %>"
      value="<%= answer.name %>"
    />
    <label for="answer<%= answerIndex + 1 %>"><%= answer.name %></label>
  </div>
  <% }) %>

  <button type="submit">Vote</button>

  <% const totalVotes = survey.answers.reduce((total, currentValue) => { %>
    <% return total + currentValue.votes %>
  <% }, 0) %>

  
    <a href="/surveys/<%= survey._id %>/results">Results</a>
  
</form>

<h2>About Survey</h2>

<% if (typeof survey.description !== 'undefined') { %>
<div>
  <label>Description</label>
  <h2><%= survey.description %></h2>
</div>
<% } %>

<div>
  <label>Author</label>
  <h2><%= survey.author.displayName %></h2>
  <p>
    Member since - <%= survey.author.createdAt.toDateString().slice(3) %>
  </p>
</div>
